.homepage section[role=main] {
    overflow-x: auto;
}

.homepage .hubSections {
    width: 2975px;
    height: 100%;
    display: -ms-grid;
    -ms-grid-rows: 1fr 50px;
    -ms-grid-columns: 120px 340fr 80px 320fr 80px 320fr 80px 645fr 80px 645fr 80px;
}



.homepage .hubSection1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2; /* 4 for hubSection2, 6 for hubSection3, etc. */
    width: 100%;
    height: 100%;
}

    .homepage .hubSection1 h2 {
        font-weight: bold;
    }

    .homepage .hubSection1 p {
        line-height: 1.6;
    }

    .homepage .hubSection1 span {
        font-size: 24px;
        margin-top: 20px;
    }

.homepage .hubSection2 {
    -ms-grid-row: 1;
    -ms-grid-column: 4; /* 4 for hubSection2, 6 for hubSection3, etc. */
    width: 100%;
    height: 100%;
}

    .homepage .hubSection2 span {
        font-size: 24px;
        padding-left: 30px;
        color: #4b7e07;
        display: block;
        background-image: url('../images/flightss.png');
        background-repeat: no-repeat;
        background-position-y: 5px;
    }

.homepage .hubSection3 {
    -ms-grid-row: 1;
    -ms-grid-column: 6; /* 4 for hubSection2, 6 for hubSection3, etc. */
    width: 100%;
    height: 100%;
}

    .homepage .hubSection3 span {
        font-size: 24px;
        padding-left: 30px;
        color: #4b7e07;
        display: block;
        background-image: url('../images/hotelss.png');
        background-repeat: no-repeat;
        background-position-y: 5px;
    }


.homepage .hubSection4 {
    -ms-grid-row: 1;
    -ms-grid-column: 8; /* 4 for hubSection2, 6 for hubSection3, etc. */
    width: 200%;
    height: 100%;
}

    .homepage .hubSection4 span {
        font-size: 24px;
        padding-left: 30px;
        color: #4b7e07;
        display: block;
        background-image: url('../images/flightss.png');
        background-repeat: no-repeat;
    }


.searchbox {
    margin-top: 20px;
    width: 300px;
    background: #4b7e07;
    padding: 20px;
    overflow: hidden;
}

    .searchbox .left-container {
        width: 45%;
        margin-top: 5px;
        float: left;
        color: #fff;
    }

    .searchbox .right-container {
        width: 45%;
        margin-top: 5px;
        float: right;
        color: #fff;
    }

    .searchbox label {
        color: #ffffff;
        display: block;
    }

    .searchbox .flight-full {
        margin-bottom: 5px;
        width: 100%;
    }

    .searchbox .flight-half {
        margin-bottom: 5px;
        width: 100%;
    }

    .searchbox .flight-submit {
        float: right;
        margin-top: 10px;
    }

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
